<header>
  <img src="logo.png" />
  <h1>Openhouseproject.co</h1>
  <p>Liberating home sales data for analysis purposes.</p>
  <p><a href="/">Home</a></p>
  <p><a href="/contributing/">Get Involved</a></p>
  <p><a href="/gallery/">Gallery</a></p>
  <p><a href="/signup/">API and Demos</a></p>

  <!-- This looks nice, but for now those links don't make much sense
  <p class="view"><a href="https://github.com/data-skeptic/openhouseproject.co">View the Project on GitHub <small>data-skeptic/openhouseproject.co</small></a></p>
  <ul>
    <li><a href="https://github.com/data-skeptic/openhouseproject.co/zipball/master">Download <strong>ZIP File</strong></a></li>
    <li><a href="https://github.com/data-skeptic/openhouseproject.co/tarball/master">Download <strong>TAR Ball</strong></a></li>
    <li><a href="https://github.com/data-skeptic/openhouseproject.co">View On <strong>GitHub</strong></a></li>
  </ul>-->
</header>
